header{
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.logo{

}
.logo img{
         height: 50px;
         width: 100px;
}
nav{
   
   width: 50%;
   display: flex;
   justify-content: space-between;
}